//-----------------------------------------------------------
// `Default (mobile)
//-----------------------------------------------------------

@include sticky-footer(54px);

@include border-box-sizing;

html {
  overflow-y: scroll;
}

.hide-on-mobile {
  display: none;
}
.show-on-mobile {
  display: block;
}

//-----------------------------------------------------------
// `Grid
//-----------------------------------------------------------

$anchor : 2;
$side   : $total-columns - $anchor;

.container {
  @include container;
  max-width: 40em;
  overflow: hidden;
}

.author-image {
  @include trailer;
  text-align: center;
}

.about-the-author {
  border-top: solid 1px $color-border;
  @include leader;
  @include padding-leader;
}

.site-footer {
  @include span-columns($total-columns omega);
  clear: both;
}


//-----------------------------------------------------------
// `Off-screen menu
//-----------------------------------------------------------

#mobile-nav {
  @include transition(.3s all ease);
  padding: 0;
  margin-top: -$mobile-nav-height;
  li {
    line-height: 3em;
    padding: 0 $grid-padding;
  }
  .open {
    display: inline-block;
  }
  .close {
    display: none;
  }

  &:target {
    margin-top: 0;
    .open {
      display: none;
    }
    .close {
      display: inline-block;
    }
  }
}

//-----------------------------------------------------------
// `Header
//-----------------------------------------------------------

.branding {
  @include padding-leader;
  text-align: center;
}

.logo {
  height: 128px;
  width: 128px;
}

.banner {
  margin-bottom: 2em;
}

//-----------------------------------------------------------
// `Articles
//-----------------------------------------------------------

article {
  @include trailer;
  @include padding-trailer;
  border-bottom: solid 1px #efefef;
}

