//-----------------------------------------------------------
// `Desktop layout
//-----------------------------------------------------------

@include at-breakpoint($desktop-layout) {

  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none;
  }

  .branding {
    padding-top: 120px;
  }

}

