@include establish-baseline;

@font-face {
  font-family: 'pengwynn';
  src:url('/fonts/pengwynn.eot');
  src:url('/fonts/pengwynn.eot?#iefix') format('embedded-opentype'),
    url('/fonts/pengwynn.svg#pengwynn') format('svg'),
    url('/fonts/pengwynn.woff') format('woff'),
    url('/fonts/pengwynn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $face-serif;
}

dt {
  font-weight: bold;
}


.site-footer {
  @include adjust-font-size-to(10px);
  color: lighten($color-text, 20%);
  font-family: $face-sans;
  text-align: center;
  img {
    vertical-align: middle;
  }
}

.branding {
  font-family: 'pengwynn', sans-serif;
  font-size: 120px;
  line-height: 1.2em;
  a {
    display: block;
    text-decoration: none;
  }
}

.lead {
  line-height: 1.4em;
  font-family: $face-sans;
  font-size: 22px;
  font-weight: 100;
  margin: 2em 0;
  a {
    font-weight: 600;
    text-decoration: none;
  }
  p {
    margin-bottom: 0;
  }

}
hr {
  @include background-image(linear-gradient(left, rgba(#999, 0), rgba(#999, .75), rgba(#999, 0)));
  border: 0;
  height: 1px;
  width:100%;
  margin: 2em 0;
}

.social-links {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.social-links li {
  display: inline-block;
  font-size: 2em;
  text-align: center;
}

.social-links a {
  font-family: 'pengwynn', sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

//-----------------------------------------------------------
// `Headings
//-----------------------------------------------------------

h1 {
  @include adjust-font-size-to(32px);
  font-family: $face-sans;
  font-weight: normal;
  margin-top: 0;
  word-wrap: break-word;
  .stream & {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5em;
  }
  .stream .linked-item & {
    font-weight: normal;
  }
}

#{headings(2,6)} {
  @include adjust-font-size-to(20px);
  font-family: $face-sans;
  font-weight: normal;
  text-transform: uppercase;
}

h2.year{
  border-bottom: solid 1px $color-border;
  font-weight: bold;
  padding-bottom: .5em;
}

//-----------------------------------------------------------
// `Articles
//-----------------------------------------------------------

.permalink {
  display: inline-block;
  font-size: 32px;
  margin: 0 0 0 8px;
  position: absolute;
  text-decoration: none;
}

p {
  margin-top: 0;
}

.about-the-author {
  @include padding-leader;
}

.external:after {
  color: #ddd;
  content: '\219D';
  display: inline-block;
  margin-left: .2em;
}

//-----------------------------------------------------------
// `Archives
//-----------------------------------------------------------
.archives {
  @include no-bullets;
  padding: 0;
  li {
    @include trailer;
  }
}


//**********************************************************

//-----------------------------------------------------------
// `Desktop typography
//-----------------------------------------------------------

@include at-breakpoint($desktop-layout) {

  .lead {
    font-size: 1.4em;
  }

  .social-links a {
    padding: 0 20px;
  }
}
