body {
  background-color: $color-page;
  color: $color-text;
}

a {
  @include link-colors($color-link, $color-link-hover, $color-link-active, $color-link-visited);
}

blockquote {
  border-color: $color-border;
  color: lighten($color-text, 10%);
}

#{headings()} {
  color: darken($color-text, 20%);
}

.permalink {
  @include link-colors($color-border, $color-link-hover, $color-link-active, $color-border);
}

.github a:hover {
  color: $color-github;
}

.facebook a:hover {
  color: $color-facebook;
}

.twitter a:hover {
  color: $color-twitter;
}

.linked-in a:hover {
  color: $color-linked-in;
}

.flickr a:hover {
  color: $color-flickr;
}

@include at-breakpoint($desktop-layout) {

}
